* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  height: 800px;
  background: rgb(225, 255, 143);
  position: relative;
  background-image: url(./img/BGI_block1.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: bottom 3px left 63px;
}
.header__title {
  color: rgb(32, 32, 39);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  width: 769px;
  padding-top: 196px;
}
.header__text {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  width: 720px;
  margin-top: 24px;
}
.header__text-span {
  font-weight: 600;
}
.header__button {
  font: inherit;
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  width: 247px;
  height: 66px;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 142%;
  text-align: center;
  margin-top: 48px;
}
.header__button:hover {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  transition: all 1.3s;
  transform: scale(1.1);
  cursor: pointer;
}

.about-games {
  height: 1470px;
  background: rgb(32, 32, 39);
  background-image: url(./img/BGI_block2.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left 25px top 77px;
}
.about-games__title {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 94px;
}
.about-games__text {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 24px;
}
.about-games__items {
  margin-top: 72px;
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
  width: 1201px;
  flex-wrap: wrap;
}
.about-games__items-one {
  display: flex;
  flex-direction: column;
  gap: 39px;
}
.about-games__items-two {
  display: flex;
  flex-direction: column;
  gap: 39px;
}
.about-games__items-three {
  display: flex;
  flex-direction: column;
  gap: 39px;
  justify-content: space-between;
}
.about-games__link {
  text-decoration: none;
}
.about-games__card {
  width: 378px;
  background: rgb(255, 255, 255);
  border-radius: 30px;
}
.about-games__card:hover {
  transition: all 1.3s;
  transform: scale(1.1);
  cursor: pointer;
}
.about-games__card-three {
  position: absolute;
}
.about-games__card-img {
  border-radius: 30px;
}
.about-games__card-desc {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: rgb(255, 255, 255);
  border-radius: 30px;
  padding: 32px 32px 36px 32px;
}
.about-games__card-desc-number {
  color: rgb(32, 32, 39);
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: left;
  border-radius: 52px;
  background: rgb(247, 247, 247);
  padding: 8px 16px 10px 16px;
  width: 108px;
}
.about-games__card-desc-title {
  color: rgb(32, 32, 39);
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: left;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    height: 700px;
    background-image: url(./img/BGI_mobile.svg);
    background-position: left 38px top -103px;
  }
  .header__title {
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    width: 262px;
    padding-top: 147px;
  }
  .header__text {
    width: 296px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
  .header__button {
    width: 285px;
    height: 55px;
    font-size: 16px;
    pointer-events: none;
  }
  .about-games {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */