* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  height: 800px;
  background: rgb(225, 255, 143);
  position: relative;
  background-image: url(./img/BGI_block1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom 3px left 63px;
  transition: background-color 1s;
}
.header__title {
  color: rgb(32, 32, 39);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  max-width: 769px;
  padding-top: 196px;
}
.header__text {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  max-width: 720px;
  margin-top: 24px;
}
.header__text-span {
  font-weight: 600;
}
.header__button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font: inherit;
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  width: 247px;
  height: 66px;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 142%;
  text-align: center;
  margin-top: 48px;
  text-decoration: none;
}
.header__button:hover {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  transition: all 1.3s;
  transform: scale(1.1);
  cursor: pointer;
}
.header__button-mob {
  display: none;
}
.header__animation {
  background-image: url(./img/animation-strip.jpg);
  background-repeat: repeat;
  background-size: cover;
  height: 90px;
  max-width: 3220px;
}

.about-games {
  padding-bottom: 50px;
  background: rgb(32, 32, 39);
  background-image: url(./img/BGI_block2.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left 25px top 77px;
  transition: background-color 1s;
}
.about-games__title {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 94px;
}
.about-games__text {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 24px;
}
.about-games__items {
  margin-top: 72px;
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
  width: 1201px;
  flex-wrap: wrap;
}
.about-games__items-one {
  display: flex;
  flex-direction: column;
  gap: 39px;
}
.about-games__items-two {
  display: flex;
  flex-direction: column;
  gap: 39px;
}
.about-games__items-three {
  display: flex;
  flex-direction: column;
  gap: 39px;
  justify-content: space-between;
}
.about-games__link {
  text-decoration: none;
}
.about-games__card {
  width: 378px;
  background: rgb(255, 255, 255);
  border-radius: 30px;
}
.about-games__card:hover {
  transition: all 1.3s;
  transform: scale(1.1);
  cursor: pointer;
}
.about-games__card-three {
  position: absolute;
}
.about-games__card-img {
  border-radius: 30px;
}
.about-games__card-desc {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: rgb(255, 255, 255);
  border-radius: 30px;
  padding: 32px 32px 36px 32px;
}
.about-games__card-desc-number {
  color: rgb(32, 32, 39);
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: left;
  border-radius: 52px;
  background: rgb(247, 247, 247);
  padding: 8px 16px 10px 16px;
  width: 108px;
}
.about-games__card-desc-title {
  color: rgb(32, 32, 39);
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: left;
}

.mini-games {
  background: rgb(32, 32, 39);
  background-image: url(./img/BGI_block3.svg);
  padding-bottom: 144px;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right 45px top 93px;
  transition: background-color 1s;
}
.mini-games__title {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 46px;
  padding-bottom: 72px;
}
.mini-games__items {
  display: flex;
  gap: 32px;
  flex-direction: column;
}
.mini-games__card {
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  background: rgb(255, 255, 255);
  border-radius: 30px;
}
.mini-games__card-img {
  max-width: 100%;
  min-width: 10%;
}
.mini-games__card-one {
  flex-direction: row-reverse;
}
.mini-games__card-three {
  flex-direction: row-reverse;
}
.mini-games__card-five {
  flex-direction: row-reverse;
}
.mini-games__card-desc {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  background: rgb(255, 255, 255);
  height: 500px;
  width: 600px;
}
.mini-games__card-desc-wrapper {
  padding: 48px;
}
.mini-games__card-desc-title {
  color: rgb(32, 32, 39);
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 24px;
}
.mini-games__card-desc-text {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 36px;
}
.mini-games__card-desc-btn {
  width: 247px;
  height: 66px;
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 142%;
  text-align: center;
}
.mini-games__card-desc-btn:hover {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  transition: all 1.3s;
  cursor: pointer;
}
.mini-games__card-desc-btn-wrapper {
  display: flex;
  justify-content: center;
}

.footer {
  background: #BDED35;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 1s;
}
.footer-title {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    height: 700px;
    background-image: url(./img/BGI_mobile.svg);
    background-position: left 38px top -103px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__title {
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    padding-top: 147px;
  }
  .header__text {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
  .header__button {
    display: none;
    width: 285px;
    height: 55px;
    font-size: 16px;
    pointer-events: none;
    margin-top: 36px;
  }
  .header__button-mob {
    display: flex;
    width: 285px;
    height: 55px;
    font-size: 16px;
    pointer-events: none;
    margin-top: 36px;
  }
  .header__animation {
    height: 51px;
    max-width: 767px;
    min-width: 320px;
  }
  .about-games {
    display: none;
  }
  .mini-games {
    padding-bottom: 48px;
  }
  .mini-games__title {
    font-size: 40px;
    line-height: 49px;
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .mini-games__items {
    gap: 24px;
  }
  .mini-games__card {
    height: auto;
  }
  .mini-games__card-desc {
    height: auto;
  }
  .mini-games__card-desc-title {
    font-size: 32px;
    line-height: 39px;
    padding-bottom: 16px;
  }
  .mini-games__card-desc-text {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 32px;
  }
  .mini-games__card-desc-btn {
    width: 285px;
    height: 55px;
    font-size: 16px;
  }
  .mini-games__card-desc-wrapper {
    padding: 29px;
  }
  .footer {
    height: 100px;
  }
}
@media (min-width: 631px) and (max-width: 1211px) {
  .center {
    padding-left: 32px;
    padding-right: 32px;
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-games {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */