* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header {
    height: 800px;
    background: rgb(225, 255, 143);
    position: relative;

    &__star {
        position: absolute;

        &-two {
            left: 63px;
            top: 94px;
        }
    
        &-three {
            left: 156px;
            top: 69px;
        }

        &-four {
            left: 1013px;
            top: 568px;
        }

        &-five {
            left: 948px;
            top: 538px;
        }

    }

    &__vector {
        position: absolute;

        &-one {
            left: 854px;
            top: -10px;
        }

        &-two {
            left: 1030px;
            top: -10px;
        }

        &-three {
            left: 1067px;
            top: 254px;
        }

        &-four {
            left: 1225px;
            top: 379px;
        }

        &-five {
            left: 1247px;
            top: 468px;
        }

        &-six {
            left: 1345px;
            top: 663px;
        }
    }

    &__title {
        color: rgb(32, 32, 39);
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: 0px;
        text-align: left;
        width: 769px;
        padding-top: 196px;
    }

    &__text {
        color: rgb(32, 32, 39);
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
        width: 720px;
        margin-top: 24px;
    }

    &__button {
        box-sizing: border-box;
        border: 1px solid rgb(32, 32, 39);
        border-radius: 60px;
        background: rgb(32, 32, 39);
        width: 247px;
        height: 66px;
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: 600;
        line-height: 142%;
        letter-spacing: 0%;
        text-align: center;
        margin-top: 48px;

        &:hover {
            color: rgb(0, 0, 0);
            background: rgb(255, 255, 255);
            transition: all 1.3s;
            transform: scale(1.1);
            cursor: pointer;
        }
    }
}