* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header {
    height: 800px;
    background: rgb(225, 255, 143);
    position: relative;
    background-image: url(./img/BGI_block1.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: bottom 3px left 63px;

    &__title {
        color: rgb(32, 32, 39);
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: 0px;
        text-align: left;
        max-width: 769px;
        padding-top: 196px;
    }

    &__text {
        color: rgb(32, 32, 39);
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
        max-width: 720px;
        margin-top: 24px;

        &-span {
            font-weight: 600;
        }
    }

    &__button {
        font: inherit;
        box-sizing: border-box;
        border: 1px solid rgb(32, 32, 39);
        border-radius: 60px;
        background: rgb(32, 32, 39);
        width: 247px;
        height: 66px;
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: 600;
        line-height: 142%;
        text-align: center;
        margin-top: 48px;

        &:hover {
            color: rgb(0, 0, 0);
            background: rgb(255, 255, 255);
            transition: all 1.3s;
            transform: scale(1.1);
            cursor: pointer;
        }
    }
}

.about-games {
    padding-bottom: 50px;
    background: rgb(32, 32, 39);
    background-image: url(./img/BGI_block2.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: left 25px top 77px;

    
    &__title {
        color: rgb(255, 255, 255);
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: 0px;
        text-align: left;
        padding-top: 94px;
    }

    &__text {
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
        padding-top: 24px;
    }

    &__items {
        margin-top: 72px;
        display: flex;
        column-gap: 32px;
        width: 1201px;
        flex-wrap: wrap;
        

        &-one {
            display: flex;
            flex-direction: column;
            gap: 39px;
        }

        &-two {
            display: flex;
            flex-direction: column;
            gap: 39px;
        }

        &-three {
            display: flex;
            flex-direction: column;
            gap: 39px;
            justify-content: space-between;
        }

    }

    &__link {
        text-decoration: none;
    }

    &__card {
        width: 378px;
        background: rgb(255, 255, 255);
        border-radius: 30px;

        &:hover {
            transition: all 1.3s;
            transform: scale(1.1);
            cursor: pointer;
        }

        &-three {
            position: absolute;
        }

        &-img {
            border-radius: 30px;
        }

        &-desc {
            display: flex;
            flex-direction: column;
            gap: 16px;
            background: rgb(255, 255, 255);
            border-radius: 30px;
            padding: 32px 32px 36px 32px;

            &-number {
                color: rgb(32, 32, 39);
                font-size: 16px;
                font-weight: 500;
                line-height: 110%;
                letter-spacing: 0px;
                text-align: left;
                border-radius: 52px;
                background: rgb(247, 247, 247);
                padding: 8px 16px 10px 16px;
                width: 108px;
            }

            &-title {
                color: rgb(32, 32, 39);
                font-size: 32px;
                font-weight: 700;
                line-height: 39px;
                letter-spacing: 0px;
                text-align: left;
            }
        }
    }

}

.mini-games {
    background: rgb(32, 32, 39);
    background-image: url(./img/BGI_block3.svg);
    padding-bottom: 144px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right 45px top 93px;

    &__title {
        color: rgb(255, 255, 255);
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: 0px;
        text-align: left;
        padding-top: 46px;
        padding-bottom: 72px;
    }

    &__items {
        display: flex;
        gap: 32px;
        flex-direction: column;
    }

    &__card {
        height: 500px;
        display: flex;
        flex-wrap: wrap;
        background: rgb(255, 255, 255);
        border-radius: 30px;

        &-one {
            flex-direction: row-reverse;
        }

        &-three {
            flex-direction: row-reverse;
        }

        &-five {
            flex-direction: row-reverse;
        }

        &-desc {
            display: flex;
            flex-direction: column;
            border-radius: 30px;
            background: rgb(255, 255, 255);
            height: 500px;
            width: 600px;

            &-wrapper {
                padding: 48px;
            }

            &-title {
                color: rgb(32, 32, 39);
                font-size: 48px;
                font-weight: 700;
                line-height: 59px;
                letter-spacing: 0px;
                text-align: left;
                padding-bottom: 24px;
            }

            &-text {
                color: rgb(32, 32, 39);
                font-size: 24px;
                font-weight: 400;
                line-height: 32px;
                letter-spacing: 0px;
                text-align: left;
                padding-bottom: 36px;
            }

            &-btn {
                width: 247px;
                height: 66px;
                border-radius: 60px;
                background: rgb(32, 32, 39);
                color: rgb(255, 255, 255);
                font-size: 24px;
                font-weight: 600;
                line-height: 142%;
                text-align: center;

                &:hover {
                    background: rgb(255, 255, 255);
                    color: rgb(0, 0, 0);
                    transition: all 1.3s;
                    cursor: pointer;
                }
            }
        }
    }
}

.footer {
    background: #BDED35;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

    &-title {
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        letter-spacing: 0px;
        text-align: center;
    }

}

@import 'mobile';
