@media (min-width: 632px) and (max-width: 1211px) {
    .center {
        padding-left: 32px;
        padding-right: 32px;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-games {
        display: none;
    }

    .mini-games {
        &__card {
            flex-wrap: nowrap;
            background-color: rgb(226, 255, 255);

            &-desc {
                background-color: rgb(226, 255, 255);
            }
        }
    }

}