@media (min-width: 768px) and (max-width: 1024px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {
        padding: 40px;

        &__title {
            font-size: 32px;
        }

        &__text {
            font-size: 18px;
        }

        &__button {
            font-size: 18px;
            padding: 15px 30px;
        }
    }

    .about-games {
        padding: 40px;

        &__title {
            font-size: 32px; 
        }
    
        &__text {
            font-size: 18px; 
            line-height: 1.5; 
        }
    
        &__items {
            flex-direction: row; 
            flex-wrap: wrap; 
            justify-content: center; 
        }
    
        &__items > article {
            margin: 10px; 
        }
    
        &__card {
            width: 200px; 
            transition: transform 0.3s;
        }
    
        &__card:hover {
            transform: scale(1.05);
        }
    
        &__card-img {
            width: 100%; 
        }
    
        &__card-desc {
            padding: 10px;
        }
    }
}