@media (min-width: 632px) and (max-width: 1211px) {
    .center {
        padding-left: 32px;
        padding-right: 32px;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-games {
        display: none;
    }

    .mini-games {
        &__card {
            flex-wrap: nowrap;

            &-img {
                width: 100%;
                height: 100%
            }

            &-desc {
                &-wrapper {
                    padding: 48px 29px 48px 29px;
                }
            }
        }
    }

}